<h1>About me</h1>

<!--p ><h2>Kind words</h2>

<blockquote><p><span class="open">“</span>Stephan is great to work with. He brings deep technical expertise to the table, combined with an aestethic and business sense that make him a tremendous person to have on any team. What's more, he is super-motivated. We created a full website based on ruby/rails with complex authentications, fancy front-end and deployed in production in a record time, which was very impressive. One of the best people I worked with, and I hope to work with Stephan in the future if in any way possible.<span class="close">”</span></p></blockquote>
<p><cite>‐ Christian Miccio, PM (Shazam, Google)</cite></p>-->

<blockquote><p><span class="open"></span>
</p></blockquote>

<p class="p3"><br></p>
<p class="p4"><span class="s2"><b>Biography</b><br>
Wang,Shuxin is pursuing his master degree in <a href="file:///Users/isno/Documents/www.ict.ac.cn/"><span class="s3">Institute of Computing Technology</span></a>, <a href="http://www.cas.ac.cn/"><span class="s3">Chinese Academy of Sciences</span></a></span></p>
<p class="p2">He was an Intern Research Engineer in Intel Labs China in 2011</p>
<p class="p2">He was a game developer in <a href="http://www.163.com/"><span class="s1">NetEase Inc.</span></a> in 2008</p>
<p class="p2">He got his bachlor degree from School of Computer Science and Engineering, <a href="http://www.csu.edu.cn/"><span class="s1">Central South University(CSU) in 2008</span></a></p>
<p class="p5"><br></p>
<p class="p3"><br></p>
<p class="p2"><b>Research Interest</b></p>
<p class="p2">Information Retrieval, Data Minning, Game programming<span class="Apple-converted-space"> </span></p>
<p class="p5"><br></p>
<p class="p3"><br></p>
<p class="p2"><b>Links&lt;/</b></p>